@use "variables" as v;
@mixin flex-center($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition(
  $property: transform,
  $duration: v.$transition-speed,
  $easing: ease
) {
  transition: $property $duration $easing;
}

@mixin small-tablet {
  @media screen and (min-width: 577px) {
    @content;
  }
}

@mixin large-tablet {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin computer {
  @media screen and (min-width: 1081px) {
    @content;
  }
}
