$primary-font: "Roboto Slab", serif;
$secondary-font: "Roboto Mono", monospace;
$primary-color: #f3f8ff;
$black-color: black;
$hover-color: #bbc0c6;
$gap: 15px;
$transition-speed: 0.3s;
$icon-size: 40px;
$font-size-default: 30px;
$font-size-banner: 18px;
$font-size-title: 26px;