@use "variables" as v;
@use "mixins" as m;

* {
  font-family: v.$primary-font;
  margin: 0;
}

body {
  background-color: v.$primary-color;
}

main {
  @include m.flex-center();
  height: 100vh;
}

.nav {
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  & a {
    @include m.transition();
    text-decoration: none;
    height: max-content;
    user-select: none;
    font-weight: normal;

    &:visited,
    &:link {
      color: v.$black-color;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: v.$hover-color;
    }
  }

  &__icon,
  &__wrapper {
    @include m.flex-center(row, center);
    font-weight: 600;
    gap: 15px;
  }
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  &__title,
  &__icon {
    margin-bottom: 150px;
    font-size: v.$font-size-default;
  }

  &__icon {
    margin-right: 100px;
  }
}

.banner {
  @include m.flex-center();
  width: 100%;
  flex-grow: 1;
  padding: 20px 0;
  font-size: 16px;
  margin-bottom: 150px;

  &__wrapper {
    width: 80%;
    font-family: v.$secondary-font;
  }

  &__title {
    font-weight: 300;
  }
}

.icons-wrapper {
  @include m.flex-center(row, center);
  gap: 25px;
  font-size: v.$icon-size;
  margin-top: 70px;
}

.contact {
  @include m.flex-center();
  width: 80%;
  height: 100%;

  &__link {
    text-decoration: none;
    color: v.$black-color;
    user-select: none;

    &:visited {
      color: v.$black-color;
    }
  }

  &__wrapper {
    @include m.flex-center(column, center);
    gap: v.$gap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
  }
}

.link__wrapper {
  @include m.flex-center(row, center);
  gap: 5px;
  font-size: v.$font-size-title;
  transition: transform v.$transition-speed ease;
  user-select: none;

  &:hover {
    transform: scale(1.1);
  }
}

.skills-icons {
  @include m.flex-center(row, center);
  font-size: v.$icon-size;
  margin-top: 0.5em;
  gap: 30px;
  width: 60%;
  flex-wrap: wrap;
  user-select: none;

  &__wrapper {
    @include m.flex-center(row, center);
    gap: 10px;
  }

  &__title {
    font-size: v.$font-size-title;
  }
}
